
@media only screen and (max-width: 768px) {
    .navigation {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .logo {
        margin-bottom: 25px;
    }
    .nav-part ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-part ul li {
        margin-bottom: 35px;
    }
    .hero {
        height: 100vh;
    }
    .hero-section-article h2 {
        font-size: 28px;
    }
    .hero-section-article h2{
        margin-bottom: 25px;
    }
    .hero-section-article p {
        margin-bottom: 45px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .navigation {
        width: 80%;
        margin: 0 auto;
    }
    .hero-section-article h2{
        margin-bottom: 25px;
    }
    .hero-section-article p {
        margin-bottom: 45px;
    }
}

@media only screen and (min-width: 992px) {
    .logo {
        width: 45%;
    }
    .nav-part {
        width: 55%;
    }
    
}

